<header>
  <h1>Diffusion Modelling</h1>
</header>

<mat-form-field>
  <mat-label>Select Opinion Model:</mat-label>
  <mat-select aria-placeholder="Model">
    <mat-option *ngFor="let model of models" [ngModel]="model">
      {{ model.name }}
    </mat-option>
  </mat-select>
  <label>Number of Nodes:</label>
  <mat-form-field class="example-full-width">
    <mat-label>Number of nodes</mat-label>
    <textarea number matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</mat-form-field>

<h2>Model</h2>

<figure id="mountNode"></figure>

<ng-template ngIf="">
  <mat-form-field>
    <input
      type="number"
      class="form-control"
      matInput
      name="value"
      placeholder="Q parameter"
      formControlName="value"
    />
  </mat-form-field>
</ng-template>
